:root{
  --main-bg-color: #141518;
  --main-button-color: #1e282c;
  --main-dark-button-color: #181e21;
  --main-text-color: #FFFFFF;
  --main-text-color2: #FFFFFF;
  --main-border-color: #FFFFFF;
  --main-border-size: 1px;
}

.smb {
  background-color: var(--main-dark-button-color);
  opacity: 80%;
  position: absolute;
  z-index: 99;
  top: 15%;
  left: 15%;
  padding: 10px 20px 10px 20px;
  width: 800px;
  height: 300px;
  border-radius: 10px;
}

.smb button {
  opacity: 100%;
  background-color: var(--main-button-color);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Montserrat;
  color: var(--main-text-color);
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  transition: 0.2s;
  text-decoration: none;
}

.smb button:hover {
  background: var(--main-text-color);
  text-decoration: none;
  color: var(--main-text-color);
}

.smb input {
  background-color: var(--main-button-color);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Montserrat;
  color: var(--main-text-color2);
  font-size: 15px;
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  transition: 0.2s;
  text-decoration: none;
  position: absolute;
  right: 2%;
  top: 2%;
}

.smb input:hover {
  background: var(--main-text-color2);
  text-decoration: none;
  color: var(--main-text-color);
}

.gets {
  background-color: var(--main-dark-button-color);
  color: var(--main-text-color2);
  font-size: 15px;
  z-index: 100;
  position: absolute;
  padding: 10px 10px 10px 10px;
  font-family: Montserrat;
}

.gets code {
  background-color: var(--main-bg-color);
}

#context-menu {
  position: fixed;
  z-index: 1000;
  width: 150px;
  background: var(--main-dark-button-color);
  border-radius: 5px;
  transform: scale(0);
  transform-origin: top left;
}

#context-menu.visible {
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}

#context-menu .item {
  font-family: Montserrat;
  padding: 8px 10px;
  font-size: 15px;
  color: var(--main-text-color);
  cursor: pointer;
  border-radius: inherit;
  background-color: var(--main-dark-button-color);
  transition: 0.2s;
}

#context-menu .item:hover {
  background: var(--main-bg-color);
}

.new-tab {
  position: absolute;
  top: 75px;
  right: 31px;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Montserrat;
  color: rgb(221, 40, 65);
  font-size: 13px;
  background: var(--main-button-color);
  border-width: 1px;
  border-color: var(--main-border-color);
  text-decoration: none;
  transition: 0.2s;
  outline: none;
}

.new-tab:hover {
  color: var(--main-text-color2);
  background: rgb(221, 40, 65);
}

.banner {
  height: 2000px;
  width: 2000px;
  background-color: white;
  position: absolute;
  z-index: 100;
}

body {
  background-color: var(--main-bg-color);
  overflow: hidden;
}

.swal-text{
  font-family: Montserrat;
}

.swal-title{
  font-family: Montserrat;
}

.txtarea{
  width:100%;
}

.dropdwn {
  position: relative;
  display: inline-block;
}

.dropdwn-content {
  display: none;
  position: absolute;
  background-color: var(--main-dark-button-color);
  border-radius: 5px;
}

.dropdwn-content a {
  font-family: Montserrat;
  color: rgb(125, 63, 207);
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: block;
  transition: 0.2s
}

.dropdwn-content a:hover {background-color: rgb(125, 63, 207); color: var(--main-text-color2)}
.dropdwn:hover .dropdwn-content {display: block;}

.txtarea div{
  float:left;
  box-sizing: border-box;
}

.txtarea div span{
  display:block;
}

.txtarea div textarea{
  box-sizing: border-box;
}

.run {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Montserrat;
  color: #80ed99;
  font-size: 20px;
  background: var(--main-button-color);
  padding: 10px 20px 10px 20px;
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  text-decoration: none;
  transition: 0.2s;
  outline: none;
}

.run:hover {
  background: #80ed99;
  text-decoration: none;
  color: var(--main-text-color2);
}
  
.reset {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Montserrat;
  color: #da1e37;
  font-size: 20px;
  background: var(--main-button-color);
  padding: 10px 20px 10px 20px;
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  text-decoration: none;
  transition: 0.2s;
  outline: none;
}
  
.reset:hover {
  background: #da1e37;
  text-decoration: none;
  color: var(--main-text-color2);
}

.guide {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Montserrat;
  color: #F7C325;
  font-size: 20px;
  background: var(--main-button-color);
  padding: 10px 20px 10px 20px;
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  text-decoration: none;
  transition: 0.2s;
  outline: none;
}

.guide:hover {
  background: #F7C325;
  text-decoration: none;
  color: var(--main-text-color2);
}

.vh {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Montserrat;
  color: #ff5c8a;
  font-size: 20px;
  background: var(--main-button-color);
  padding: 10px 20px 10px 20px;
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  text-decoration: none;
  transition: 0.2s;
  outline: none;
}

.vh:hover {
  background: #ff5c8a;
  text-decoration: none;
  color: var(--main-text-color2);
}

.r-dropdwn {
  position: relative;
  display: inline-block;
}

.r-dropdwn-content {
  display: none;
  position: absolute;
  background-color: var(--main-dark-button-color);
  border-radius: 5px;
  width: 190px;
}

.r-dropdwn-content a {
  font-family: Montserrat;
  color: #FF4036;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: block;
  transition: 0.2s
}

.r-dropdwn-content a:hover {background-color: #FF4036; color: var(--main-text-color2)}
.r-dropdwn:hover .r-dropdwn-content {display: block;}

.report {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Montserrat;
  color: #FF4036;
  font-size: 20px;
  background: var(--main-button-color);
  padding: 10px 20px 10px 20px;
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  text-decoration: none;
  transition: 0.2s;
  outline: none;
}
  
.report:hover {
  background: #FF4036;
  text-decoration: none;
  color: var(--main-text-color2);
}

.tutor {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Montserrat;
  color: #2C88D9;
  font-size: 20px;
  background: var(--main-button-color);
  padding: 10px 20px 10px 20px;
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  text-decoration: none;
  transition: 0.2s;
  outline: none;
  display: inline-block;
}

.tutor:hover {
  background: #2C88D9;
  text-decoration: none;
  color: var(--main-text-color2);
}

.examples {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Montserrat;
  color: #5946B2;
  font-size: 20px;
  background: var(--main-button-color);
  padding: 10px 20px 10px 20px;
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  text-decoration: none;
  transition: 0.2s;
  outline: none;
}
  
.examples:hover {
  background: #5946B2;
  text-decoration: none;
  color: var(--main-text-color2);
}
  
.credit {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Montserrat;
  color: #30BFBF;
  font-size: 20px;
  background: var(--main-button-color);
  padding: 10px 20px 10px 20px;
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  text-decoration: none;
  transition: 0.2s;
  outline: none;
}

.credit:hover {
  background: #30BFBF;
  text-decoration: none;
  color: var(--main-text-color2);
}

.share {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Montserrat;
  color: #66B032;
  font-size: 20px;
  background: var(--main-button-color);
  padding: 10px 20px 10px 20px;
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  text-decoration: none;
  transition: 0.2s;
  outline: none;
}
  
.share:hover {
  background: #66B032;
  text-decoration: none;
  color: var(--main-text-color2);
}

.message {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Montserrat;
  color: #FFEB51;
  font-size: 18px;
  background: var(--main-button-color);
  padding: 10px 20px 10px 20px;
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  text-decoration: none;
  transition: 0.2s;
  outline: none;
}

.message:hover {
  background: #FFEB51;
  text-decoration: none;
  color: var(--main-text-color2);
}

.text {
  padding: 6px;
  font-size: 16px;
  font-family: 'Consolas';
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  background-color: var(--main-button-color);
  color: var(--main-text-color);
  border-style: solid;
  border-radius: 2px;
  width: 1000px;
  display: inline-block;
  word-break: break-word;
  resize: none;
  outline: none;
}

.text::-webkit-scrollbar{
  width: 10px;
}

.text::-webkit-scrollbar-thumb{
  background-color: var(--main-dark-button-color);
}

.out {
  padding: 6px;
  font-size: 16px;
  font-family: Montserrat;
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  background-color: var(--main-button-color);
  color: var(--main-text-color);
  border-style: solid;
  border-radius: 2px;
  width: 320px;
  display: inline-block;
  word-break: break-word;
  resize: none;
  outline: none;
}

.out2 {
  padding: 6px;
  font-size: 16px;
  font-family: Montserrat;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: none;
  display: inline-block;
  word-break: break-word;
  resize: none;
  outline: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.swalfile::file-selector-button {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Montserrat;
  color: rgb(70, 216, 209);
  font-size: 17px;
  background: var(--main-button-color);
  padding: 10px 20px 10px 20px;
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  text-decoration: none;
  transition: 0.2s;
  outline: none;
  margin-top: 12px;
  display: inline-block;
}

input[type=file].import::file-selector-button {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Montserrat;
  color: rgb(3, 174, 180);
  font-size: 20px;
  background: var(--main-button-color);
  padding: 10px 20px 10px 20px;
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  text-decoration: none;
  transition: 0.2s;
  outline: none;
  margin-top: 12px;
  display: inline-block;
}

.export {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Montserrat;
  color: rgb(3, 174, 180);
  font-size: 20px;
  background: var(--main-button-color);
  padding: 10px 20px 10px 20px;
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  text-decoration: none;
  transition: 0.2s;
  outline: none;
  margin-left: -98px;
  display: inline-block;
}

.swtch-mode {
  width: 177px;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Montserrat;
  color: rgb(3, 174, 180);
  font-size: 20px;
  background: var(--main-button-color);
  padding: 10px 20px 10px 20px;
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  text-decoration: none;
  transition: 0.2s;
  outline: none;
  margin-left: 829px;
  display: inline-block;
}

.load {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Montserrat;
  color: rgb(3, 174, 180);
  font-size: 20px;
  background: var(--main-button-color);
  padding: 10px 20px 10px 20px;
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  text-decoration: none;
  transition: 0.2s;
  outline: none;
  margin-left: 829px;
  margin-top: 6px;
  display: inline-block;
  position: relative;
}

.ext {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Montserrat;
  color: rgb(3, 174, 180);
  font-size: 20px;
  background: var(--main-button-color);
  padding: 10px 20px 10px 20px;
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  text-decoration: none;
  transition: 0.2s;
  outline: none;
  display: inline-block;
}

.in{
  margin-right: 10px;
}

.tutorial{
  position: absolute;
  z-index:1;
  left: 8px;
  top: 516px;
  width: 820px;
  height: 100px;
  background-color: var(--main-button-color);
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  overflow-y: scroll;
  overflow-x: hidden;
}

.tu-close{
  left:785px;
  background-color: var(--main-button-color);
  border-color: var(--main-button-color);
  position: absolute;
  z-index:1;
}

.tu-arr-r{
  left:785px;
  top:40px;
  background-color: var(--main-button-color);
  border-color: var(--main-button-color);
  position: absolute;
  z-index:1;
}

.tu-arr-l{
  left:10px;
  top:40px;
  background-color: var(--main-button-color);
  border-color: var(--main-button-color);
  position: absolute;
  z-index:1;
}

.tu-slides{
  top:5px;
  left:50px;
  background-color: var(--main-button-color);
  border-color: var(--main-button-color);
  position: absolute;
  z-index:1;
  font-family: Montserrat;
  color: var(--main-text-color);
  max-width: 730px;
}

.tutorial::-webkit-scrollbar{
  width: 5px;
}

.tutorial::-webkit-scrollbar-thumb{
  background-color: var(--main-dark-button-color);
}

.tu-slides input.blue{
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Montserrat;
  color: rgb(66, 110, 231);
  font-size: 15px;
  background: var(--main-button-color);
  padding: 5px 10px 5px 10px;
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  text-decoration: none;
  transition: 0.2s;
  outline: none;
  display: inline-block;
}

.tu-slides input.blue:hover {
  background: rgb(66, 110, 231);
  text-decoration: none;
  color: var(--main-text-color);
}

.tu-slides input.green{
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Montserrat;
  color: rgb(94, 231, 66);
  font-size: 15px;
  background: var(--main-button-color);
  padding: 5px 10px 5px 10px;
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  text-decoration: none;
  transition: 0.2s;
  outline: none;
  display: inline-block;
}

.tu-slides input.green:hover {
  background: rgb(94, 231, 66);
  text-decoration: none;
  color: var(--main-text-color);
}

.tu-slides input.red{
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Montserrat;
  color: rgb(235, 66, 66);
  font-size: 15px;
  background: var(--main-button-color);
  padding: 5px 10px 5px 10px;
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  text-decoration: none;
  transition: 0.2s;
  outline: none;
  display: inline-block;
}

.tu-slides input.red:hover {
  background: rgb(235, 66, 66);
  text-decoration: none;
  color: var(--main-text-color);
}

.tu-slides input.yellow{
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Montserrat;
  color: rgb(224, 235, 66);
  font-size: 15px;
  background: var(--main-button-color);
  padding: 5px 10px 5px 10px;
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  text-decoration: none;
  transition: 0.2s;
  outline: none;
  display: inline-block;
}

.tu-slides input.yellow:hover {
  background: rgb(224, 235, 66);
  text-decoration: none;
  color: var(--main-text-color);
}

.tu-slides code{
  background-color: var(--main-dark-button-color);
  font-size: 15;
  padding: 2px 2px 2px 2px;
}


.dropdwns {
  position: relative;
  display: inline-block;
}

.dropdwns-content {
  display: none;
  position: absolute;
  background-color: var(--main-dark-button-color);
  border-radius: 5px;
  width: 155px;
}

.dropdwns-content a {
  font-family: Montserrat;
  color: rgb(96, 214, 60);
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: block;
  transition: 0.2s;
}

.dropdwns-content a:hover {background-color: rgb(96, 214, 60); color: var(--main-text-color2)}
.dropdwns:hover .dropdwns-content {display: block;}

.share {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Montserrat;
  color: rgb(96, 214, 60);
  font-size: 20px;
  background: var(--main-button-color);
  padding: 10px 20px 10px 20px;
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  text-decoration: none;
  transition: 0.2s;
  outline: none;
}
  
.share:hover {
  background: rgb(96, 214, 60);
  text-decoration: none;
  color: var(--main-text-color);
}

.mobile_banner {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border-color: var(--main-border-color);
  border-width: var(--main-border-size);
  z-index: 99;
  align-self: center;
  position: absolute;
  width: 900px;
	height: 1400px;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  font-size: 100px;
  text-align: center;
  font-family: Montserrat;
}

.signin {
  width: 110px;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Montserrat;
  color: rgb(3, 174, 180);
  font-size: 20px;
  background: var(--main-button-color);
  padding: 10px 20px 10px 20px;
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  text-decoration: none;
  transition: 0.2s;
  outline: none;
  position: relative;
  text-align: center;
}
.logout {
  width: 123px;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Montserrat;
  color: rgb(3, 174, 180);
  font-size: 20px;
  background: var(--main-button-color);
  padding: 10px 20px 10px 20px;
  border-width: var(--main-border-size);
  border-color: var(--main-border-color);
  text-decoration: none;
  transition: 0.2s;
  outline: none;
  position: relative;
  text-align: center;
}
